﻿@model DragonFlyAdmin.ViewModels.ResourceAges.ResourceAgeModel
@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-12 col-md-12 col-lg-12 topbar">
    <h1>Ages</h1>
   @using (@Html.BeginForm("Create", "ResourceAges",  FormMethod.Post))
    {
        <input type="hidden" asp-for="ResourceId" />
        // drop down of locations
            <span class="col-md-6 col-sm-6 col-lg-6">
                @Html.DropDownListFor(x=>Model.SelectedAge, new SelectList(Model.AgeList, "Value", "Text"), htmlAttributes: new {@class="form-control", id="Locations"})
                @Html.ValidationMessageFor(x => x.AgeList, "", new { @class = "text-danger" })
                <button class="btn btn-info">Add Resource Ages</button>
            </span>
    }

   @using (@Html.BeginForm("Index", "Resources", FormMethod.Get))
   {
       <span class="col-sm-6 col-md-6 col-lg-6">
           <button class="btn btn-info">Back</button>
       </span>
   }
</div>
<hr/>
<div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ResourceAgesList[0].Age)</th>
            <th>@Html.DisplayNameFor(model => model.ResourceAgesList[0].EntryUser)</th>
            <th>@Html.DisplayNameFor(model => model.ResourceAgesList[0].EntryDt)</th>
            <th>@Html.DisplayNameFor(model => model.ResourceAgesList[0].UpdateUser)</th>
            <th>@Html.DisplayNameFor(model => model.ResourceAgesList[0].UpdateDt)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ResourceAgesList) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryUser)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryDt)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateUser)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateDt)</td>
                @if (Model.IsAdmin)
                {
                    <td>
                        @using (@Html.BeginForm("Delete", "ResourceAges", new {resourceId=@item.ResourceId, ageId=@item.AgeId}, FormMethod.Get))
                        {
                            <button class="btn btn-danger">Delete Age</button>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>