﻿@model DragonFlyAdmin.ViewModels.ResourceInsurances.ResourceInsuranceDeleteModel
@{
    ViewData["Title"] = "Delete";
}
<div class="col-sm-12 col-md-12 col-lg-12 topbar">
    <h1>Delete Resource Insurance</h1>
    <h5>Are you sure you want to delete This Insurance: @Model.InsuranceName for @Model.ResourceName?</h5>
    <h2 class="redfont">All deleted records will be logged!</h2>
    <h2 class="redfont">All deleted records will be logged!</h2>
    <h2 class="greenfont">@ViewData["Success"]</h2>
    <div class="col-sm-6 col-md-6 col-lg-6 float-left">
        @using (@Html.BeginForm("Index", "ResourceInsurances", new {id=@Model.ResourceId}, FormMethod.Get))
        {
            <button class="btn btn-info">Back</button>
        }
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    @if (Model.IsAdmin)
    {
        @using (@Html.BeginForm("DeleteConfirmed", "ResourceInsurances", new {resourceId = @Model.ResourceId, insuranceId = @Model.InsuranceId}, FormMethod.Post))
        {
            <button class="btn btn-danger">Delete</button>
        }
    }
</div>