﻿@model DragonFlyAdmin.ViewModels.ResourceInsurances.ResourceInsuranceModel
@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-12 col-md-12 col-lg-12 topbar">
    <h1>Resource Insurances</h1>
    @using (@Html.BeginForm("Create", "ResourceInsurances",  FormMethod.Post))
    {
        <input type="hidden" asp-for="ResourceId" />
        // drop down of locations
        <span class="col-md-6 col-sm-6 col-lg-6">
            @Html.DropDownListFor(x=>Model.SelectedInsurance, new SelectList(Model.InsuranceList, "Value", "Text"), htmlAttributes: new {@class="form-control", id="Locations"})
            @Html.ValidationMessageFor(x => x.InsuranceList, "", new { @class = "text-danger" })
        </span>
        <button class="btn btn-info">Add Resource Insurance</button>
    }
    @using (@Html.BeginForm("Index", "Resources", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-info">Back</button>
        </span>
    }
</div>
<hr/>
<div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ResourceInsuranceList[0].Insurance)</th>
            <th>@Html.DisplayNameFor(model => model.ResourceInsuranceList[0].EntryUser)</th>
            <th>@Html.DisplayNameFor(model => model.ResourceInsuranceList[0].EntryDt)</th>
            <th>@Html.DisplayNameFor(model => model.ResourceInsuranceList[0].UpdateUser)</th>
            <th>@Html.DisplayNameFor(model => model.ResourceInsuranceList[0].UpdateDt)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ResourceInsuranceList) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Insurance)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryUser)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryDt)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateUser)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateDt)</td>
                @if (Model.IsAdmin)
                {
                    <td>
                        @using (@Html.BeginForm("Delete", "ResourceInsurances", new {resourceId=@item.ResourceId, insuranceId=@item.InsuranceId}, FormMethod.Get))
                        {
                            <button class="btn btn-danger">Delete Insurance</button>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>