﻿<div style="background-color: #A52A2A; color: White; height: 10px;">  
</div>  
<div style="background-color: #F5F5DC; color: black;" class="middleheight">  
    <div style=" padding:20px;">  
        <h3> UNAUTHORIZED:</h3>  
        <h4> Sorry, You do not have access to this screen. </h4>  
        <p>See your supervisor to be added to the appropriate AD Group</p>
        <br />  
        <br />  
    </div>  
</div>  
<div style="background-color: #A52A2A; color: White; height: 20px;">  
</div> 