﻿@model DragonFlyAdmin.ViewModels.ResourceServices.ResourceServiceModel
@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-12 col-md-12 col-lg-12 topbar">
    <h1>Resource Services</h1>
    @using (@Html.BeginForm("Create", "ResourceServices",  FormMethod.Post))
    {
        <input type="hidden" asp-for="ResourceId" />
        // drop down of locations
            <div class="col-md-6 col-sm-6 col-lg-6">
                @Html.DropDownListFor(x=>Model.SelectedService, new SelectList(Model.ServiceList, "Value", "Text"), htmlAttributes: new {@class="form-control", id="Locations"})
                @Html.ValidationMessageFor(x => x.ServiceList, "", new { @class = "text-danger" })
            </div>
        <button class="btn btn-info">Add Resource Service</button>
    }
    @using (@Html.BeginForm("Index", "Resources", FormMethod.Get))
    {
        <button class="btn btn-primary">Back to Resources</button>
    }
</div>
<hr/>
<div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ServiceModelList[0].Service)</th>
            <th>@Html.DisplayNameFor(model => model.ServiceModelList[0].EntryUser)</th>
            <th>@Html.DisplayNameFor(model => model.ServiceModelList[0].EntryDt)</th>
            <th>@Html.DisplayNameFor(model => model.ServiceModelList[0].UpdateUser)</th>
            <th>@Html.DisplayNameFor(model => model.ServiceModelList[0].UpdateDt)</th>
            <th></th>
            @* <th></th>
                <th></th>*@
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ServiceModelList) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Service)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryUser)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryDt)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateUser)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateDt)</td>
                @if (Model.IsAdmin)
                {
                    <td>
                        @using (@Html.BeginForm("Delete", "ResourceServices", new {resourceId=@item.ResourceId, serviceId=@item.ServiceId}, FormMethod.Get))
                        {
                            <button class="btn btn-danger">Delete Service</button>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>