﻿@model DragonFlyAdmin.ViewModels.ResourceLocations.ResourceLocationModel
@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-12 col-md-12 col-lg-12 topbar">
    <h1>Resource Locations</h1>
    @using (@Html.BeginForm("Create", "ResourceLocations",  FormMethod.Post))
    {
        <input type="hidden" asp-for="ResourceId" />
        // drop down of locations
        <div class="col-md-6 col-sm-6 col-lg-6">
            @Html.DropDownListFor(x=>Model.SelectedLocation, new SelectList(Model.LocationList, "Value", "Text"), htmlAttributes: new {@class="form-control", id="Locations"})
            @Html.ValidationMessageFor(x => x.LocationList, "", new { @class = "text-danger" })
        </div>
        <button class="btn btn-info">Add Resource Location</button>
    }
    @using (@Html.BeginForm("Index", "Resources", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-info">Back</button>
        </span>
    }
</div>
<hr/>
<div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LocationModelList[0].Location)</th>
            <th>@Html.DisplayNameFor(model=>model.LocationModelList[0].ZipCode)</th>
            <th>@Html.DisplayNameFor(model => model.LocationModelList[0].EntryUser)</th>
            <th>@Html.DisplayNameFor(model => model.LocationModelList[0].EntryDt)</th>
            <th>@Html.DisplayNameFor(model => model.LocationModelList[0].UpdateUser)</th>
            <th>@Html.DisplayNameFor(model => model.LocationModelList[0].UpdateDt)</th>
            <th></th>
            @* <th></th>
                <th></th>*@
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.LocationModelList) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem=>item.ZipCode)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryUser)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryDt)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateUser)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateDt)</td>
                @if (Model.IsAdmin)
                {
                    <td>
                        @using (@Html.BeginForm("Delete", "ResourceLocations", new {resourceId=@item.ResourceId, locationId=@item.LocationId}, FormMethod.Get))
                        {
                            <button class="btn btn-danger">Delete Location</button>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
