﻿<div style="background-color: #A52A2A; color: White; height: 10px;">  
</div>  
<div style="background-color: #F5F5DC; color: black;">  
    <div style=" padding:20px;">  
        <h3> ERROR</h3>  
        <h4> An Error occurred while processing your request.  </h4>  
        <p>Contact the help desk for help.</p>
        <br />  
        <br />  
    </div>  
</div>  
<div style="background-color: #A52A2A; color: White; height: 20px;">  
</div>