﻿@model DragonFlyAdmin.ViewModels.Locations.LocationView

@{
    ViewData["Title"] = "Details";
}
<div class="col-sm-12 col-md-12 col-lg-12 topbar form-inline">
    <h1>Insurance Details</h1>
    @using (@Html.BeginForm("Index", "Locations", FormMethod.Get))
    {
        <button class="btn btn-info">Back to List</button>
    }
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.Location): </span>
            <span>@Html.DisplayFor(model => model.Location)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.ZipCode): </span>
            <span>@Html.DisplayFor(model => model.ZipCode)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.EntryUser): </span>
            <span>@Html.DisplayFor(model => model.EntryUser)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.EntryDate): </span>
            <span>@Html.DisplayFor(model => model.EntryDate)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.UpdateUser): </span>
            <span>@Html.DisplayFor(model => model.UpdateUser)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.UpdateDt): </span>
            <span>@Html.DisplayFor(model => model.UpdateDt)</span>
        </div>
    </div>
    <div class="row float-right">
        @using (@Html.BeginForm("Edit", "Locations", new { id = @Model.Id }, FormMethod.Get))
        {
            <button class="btn btn-primary">Edit</button>
        }
    </div>
</div>