﻿@model DragonFlyAdmin.ViewModels.Locations.LocationsIndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <h1>Locations</h1>
    @using (@Html.BeginForm("Create", "Locations", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6"><button class="btn btn-primary">Create New</button></span>
    }
    @using (@Html.BeginForm("Index", "Admin", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6"><button class="btn btn-info">Back to List</button></span>
    }
</div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Location)</th>
                <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
                <th>@Html.DisplayNameFor(model => model.EntryUser)</th>
                <th>@Html.DisplayNameFor(model => model.EntryDate)</th>
                <th>@Html.DisplayNameFor(model => model.UpdateUser)</th>
                <th>@Html.DisplayNameFor(model => model.UpdateDt)</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.LocationList) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.ZipCode)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryUser)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryDate)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateUser)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateDt)</td>
                <td>
                    @using (@Html.BeginForm("Edit", "Locations", new {id=@item.Id}, FormMethod.Get))
                    {
                        <button class="btn btn-info">Edit</button>
                    }
                </td>
                <td>
                    @using (@Html.BeginForm("Details", "Locations", new {id=@item.Id}, FormMethod.Get))
                    {
                        <button class="btn btn-primary">Details</button>
                    }
                </td>    
                @if (Model.IsAdmin)
                {
                    <td>
                        @using (@Html.BeginForm("Delete", "Locations", new { id = @item.Id }, FormMethod.Get))
                        {
                            <button class="btn btn-danger">Delete</button>
                        }
                    </td>
                }
            </tr>
    }
        </tbody>
    </table>