﻿@model DragonFlyAdmin.ViewModels.Languages.LanguageEditModel

@{
    ViewData["Title"] = "Delete";
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <h1>Delete Language</h1>
    <hr/>
    <h1>Are you sure you want to delete this?</h1>
    <h2 class="redfont">All deleted records will be logged!</h2>
    <div class="col-sm-12 col-md-12 col-lg-12">
        @using (@Html.BeginForm("Index", "Languages", FormMethod.Get))
        {
            <button class="btn btn-info">Back to List</button>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.Language): </span>
            <span>@Html.DisplayFor(model => model.Language)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.EntryUser): </span>
            <span>@Html.DisplayFor(model => model.EntryUser)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.EntryDt): </span>
            <span>@Html.DisplayFor(model => model.EntryDt)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.UpdateUser): </span>
            <span>@Html.DisplayFor(model => model.UpdateUser)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.UpdateDt): </span>
            <span>@Html.DisplayFor(model => model.UpdateDt)</span>
        </div>
    </div>
    <div class="row float-right">
        @if (Model.IsAdmin)
        {
            @using (@Html.BeginForm("Delete", "Languages", new { id = @Model.Id }, FormMethod.Post))
            {
                <button class="btn btn-danger">Delete</button>
            }
        }
    </div>
</div>