﻿@model DragonFlyAdmin.ViewModels.Resources.ResourceView

@{
    ViewData["Title"] = "Create";
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <h1>Create Resource</h1>
    <h2 class="redfont">@ViewData["Unique"]</h2>
    <h2 class="greenfont">@ViewData["Success"]</h2>
    <div class="form-group col-sm-8 col-md-8 col-lg-8 float-left">
        @using (@Html.BeginForm("Index", "Resources", FormMethod.Get))
        {
            <button class="btn btn-info">Back to List</button>
        }
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form asp-action="CreateResource" asp-controller="Resources">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EntryUser"/>
                <input type="hidden" asp-for="UpdateUser"/>
                <div class="form-group">
                    <label asp-for="Name" class="col-form-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="col-form-label"></label>
                    <input asp-for="Website" class="form-control"/>
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntryUser" class="col-form-label"></label>
                    <input asp-for="EntryUser" class="form-control" disabled/>
                    <span asp-validation-for="EntryUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntryDt" class="col-form-label"></label>
                    <input asp-for="EntryDt" class="form-control" disabled/>
                    <span asp-validation-for="EntryDt" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 float-left">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
