﻿@model DragonFlyAdmin.ViewModels.Resources.ResourceView

@{
    ViewData["Title"] = "Details";
}

<div class="col-sm-12 col-md-12 col-lg-12 topbar">
    <h1>Resource Details</h1>
    @using (@Html.BeginForm("Index", "Resources", FormMethod.Get))
    {
        <button class="btn btn-info">Back to List</button>
    }
    @using (@Html.BeginForm("Edit", "Resources", new { id = @Model.Id }, FormMethod.Get))
    {
        <button class="btn btn-info">Edit</button>
    }
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.Name): </span>
            <span>@Html.DisplayFor(model => model.Name)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.PhoneNumber): </span>
            <span>@Html.DisplayFor(model => model.PhoneNumber)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.Website): </span>
            <span>@Html.DisplayFor(model => model.Website)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.EntryUser): </span>
            <span>@Html.DisplayFor(model => model.EntryUser)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.EntryDt): </span>
            <span>@Html.DisplayFor(model => model.EntryDt)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.UpdateUser): </span>
            <span>@Html.DisplayFor(model => model.UpdateUser)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <span class="col-form-label-lg font-weight-bold">@Html.DisplayNameFor(model => model.UpdateDt): </span>
            <span>@Html.DisplayFor(model => model.UpdateDt)</span>
        </div>
    </div>
    <div class="row float-right">
        @using (@Html.BeginForm("Edit", "Resources", new { id = @Model.Id }, FormMethod.Get))
        {
            <button class="btn btn-primary">Edit</button>
        }
    </div>
</div>