﻿@model DragonFlyAdmin.ViewModels.Resources.ResourceIndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-12 col-md-12 col-lg-12 form-inline topbar">
    <h1>Resources</h1>
    @using (@Html.BeginForm("Create", "Resources", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6"><button class="btn btn-primary">Create</button></span>
    }
    @using (@Html.BeginForm("Index", "Admin", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6"><button class="btn btn-info">Back to List</button></span>
    }
</div>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ResourceList[0].Name)</th>
        <th>@Html.DisplayNameFor(model => model.ResourceList[0].PhoneNumber)</th>
        <th>@Html.DisplayNameFor(model => model.ResourceList[0].Website)</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ResourceList) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td class="fitwidth">@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Website)</td>
            <td>
                @using (@Html.BeginForm("Edit", "Resources", new {id = @item.Id}, FormMethod.Get))
                {
                    <button class="btn btn-info">Edit</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("Details", "Resources", new {Id = @item.Id}, FormMethod.Get))
                {
                    <button class="btn btn-primary">Details</button>
                }
            </td>
            <td>
                @using (@Html.BeginForm("Index", "ResourceLocations", new { id = @item.Id }, FormMethod.Get))
                {
                    <button class="btn btn-info">Resource Locations</button>
                }
            </td>
            <td>
                @using (@Html.BeginForm("Index", "ResourceInsurances", new { id = @item.Id }, FormMethod.Get))
                {
                    <button class="btn btn-info">Resource Insurances</button>
                }
            </td>
            <td>
                @using (@Html.BeginForm("Index", "ResourceLanguages", new { id = @item.Id }, FormMethod.Get))
                {
                    <button class="btn btn-info">Resource Languages</button>
                }
            </td>
            <td>
                @using (@Html.BeginForm("Index", "ResourceServices", new { id = @item.Id }, FormMethod.Get))
                {
                    <button class="btn btn-info">Resource Services</button>
                }
            </td>
            <td>
                @using (@Html.BeginForm("Index", "ResourceAges", new { id = @item.Id }, FormMethod.Get))
                {
                    <button class="btn btn-info">Resource Ages</button>
                }
            </td>
            @if (Model.IsAdmin)
            {
                <td>
                    @using (Html.BeginForm("Delete", "Resources", new {Id = @item.Id}, FormMethod.Get))
                    {
                        <button class="btn btn-danger">Delete Resource</button>
                    }
                </td>
            }

        </tr>
    }
    </tbody>
</table>