﻿@model DragonFlyAdmin.ViewModels.Services.ServicesEditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="col-sm-12 col-md-12 col-lg-12 topbar form-inline">
    <h1>Edit Service</h1>
    <h2 class="redfont">@ViewData["Unique"]</h2>
    <h2 class="greenfont">@ViewData["Success"]</h2>
    <div class="form-group col-sm-6 col-md-6 col-lg-6">
        @using (@Html.BeginForm("Index", "Services", FormMethod.Get))
        {
            <button class="btn btn-info">Back to List</button>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <input type="hidden" asp-for="UpdateUser"/>
                <input type="hidden" asp-for="EntryUser"/>
                <div class="form-group">
                    <label asp-for="Service" class="col-form-label"></label>
                    <input asp-for="Service" class="form-control" />
                    <span asp-validation-for="Service" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntryUser" class="col-form-label"></label>
                    <input asp-for="EntryUser" class="form-control" disabled/>
                    <span asp-validation-for="EntryUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntryDt" class="col-form-label"></label>
                    <input asp-for="EntryDt" class="form-control" disabled/>
                    <span asp-validation-for="EntryDt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateUser" class="col-form-label"></label>
                    <input asp-for="UpdateUser" class="form-control" disabled/>
                    <span asp-validation-for="UpdateUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateDt" class="col-form-label"></label>
                    <input asp-for="UpdateDt" class="form-control" disabled/>
                    <span asp-validation-for="UpdateDt" class="text-danger"></span>
                </div>
                @if (@Model.IsAdmin || @Model.IsMember)
                {
                    <div class="form-group col-sm-6 col-md-6 col-lg-6 float-left">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                }
                else
                {
                    <p>You are not authorized to make changes</p>
                }
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
