﻿@model DragonFlyAdmin.ViewModels.ResourceLanguages.ResourceLanguageModel
@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-12 col-md-12 col-lg-12 topbar">
    <h1>Resource Languages</h1>
   @using (@Html.BeginForm("Create", "ResourceLanguages",  FormMethod.Post))
    {
        <input type="hidden" asp-for="ResourceId" />
        // drop down of locations
        <div class="col-md-6 col-sm-6 col-lg-6">
            @Html.DropDownListFor(x=>Model.SelectedLanguage, new SelectList(Model.LanguageList, "Value", "Text"), htmlAttributes: new {@class="form-control", id="Locations"})
            @Html.ValidationMessageFor(x => x.LanguageList, "", new { @class = "text-danger" })
        </div>
        <button class="btn btn-info">Add Resource Language</button>
    }
   @using (@Html.BeginForm("Index", "Resources", FormMethod.Get))
   {
       <span class="col-sm-6 col-md-6 col-lg-6">
           <button class="btn btn-info">Back</button>
       </span>
   }
</div>
<hr/>
<div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LanguageModelList[0].Language)</th>
            <th>@Html.DisplayNameFor(model => model.LanguageModelList[0].EntryUser)</th>
            <th>@Html.DisplayNameFor(model => model.LanguageModelList[0].UpdateUser)</th>
            <th>@Html.DisplayNameFor(model => model.LanguageModelList[0].UpdateDt)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.LanguageModelList) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Language)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryUser)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryDt)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateUser)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateDt)</td>
                @if (Model.IsAdmin)
                {
                    <td>
                        @using (@Html.BeginForm("Delete", "ResourceLanguages", new {resourceId=@item.ResourceId, languageId=@item.LanguageId}, FormMethod.Get))
                        {
                            <button class="btn btn-danger">Delete Language</button>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>