﻿@model DragonFlyAdmin.ViewModels.MainModel

@if (@Model.IsAuthorized)
{
    <div class="col-sm-12 col-md-12 col-lg-12 align-content-center" style="margin:0 auto">
        <div class="col-sm-12 col-md-12 col-lg-12 align-content-center" style="margin:0 auto">
            <h4>Select the Page you would like to View</h4>
        </div>
        @using (Html.BeginForm("GetPage", "Admin", FormMethod.Post))
        {
            <div class="col-sm-12 col-md-12 col-lg-12 align-content-center" style="margin:0 auto">
                <div class="form-group">
                    @Html.DropDownListFor(x => Model.SelectedPage, new SelectList(Model.Pages, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Pages" })
                    @Html.ValidationMessageFor(x => x.Pages, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 align-content-center" style="margin:0 auto">
                <input type="submit" value="Search" class="btn btn-primary"/>
            </div>
        }
    </div>
}
else
{
    <div style="background-color: #A52A2A; color: White; height: 10px;"></div>  
    <div style="background-color: #F5F5DC; color: black;">  
        <div style=" padding:20px;">  
            <h3> UNAUTHORIZED</h3>  
            <h4> If you believe you should have access, request to be added to AD group  </h4>  
            <br />  
            <br />  
        </div>  
    </div>  
    <div style="background-color: #A52A2A; color: White; height: 20px;">  
    </div>  
}
