﻿@using System.Linq
@model DragonFlyAdmin.ViewModels.Insurances.InsuranceIndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-12 col-md-12 col-lg-12 form-inline topbar">
    <h1>Insurances</h1>
    @using (@Html.BeginForm("Create", "Insurances", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6"><button class="btn btn-primary">Create New</button></span>
    }
    @using (@Html.BeginForm("Index", "Admin", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6"><button class="btn btn-info">Back to List</button></span>
    }
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.InsuranceList.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.InsuranceList.First().EntryUser)</th>
                <th>@Html.DisplayNameFor(model => model.InsuranceList.First().EntryDt)</th>
                <th>@Html.DisplayNameFor(model => model.InsuranceList.First().UpdateUser)</th>
                <th>@Html.DisplayNameFor(model => model.InsuranceList.First().UpdateDt)</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.InsuranceList) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryUser)</td>
                <td>@Html.DisplayFor(modelItem => item.EntryDt)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateUser)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdateDt)</td>
                <td>
                    @using (@Html.BeginForm("Edit", "Insurances", new {id=@item.Id}, FormMethod.Get))
                    {
                        <button class="btn btn-info">Edit</button>
                    }
                </td>
                <td>
                    @using (@Html.BeginForm("Details", "Insurances", new {id=@item.Id}, FormMethod.Get))
                    {
                        <button class="btn btn-primary">Details</button>
                    }
                </td>    
                @if (Model.IsAdmin)
                {
                    <td>
                        @using (@Html.BeginForm("Delete", "Insurances", new { id = @item.Id }, FormMethod.Get))
                        {
                            <button class="btn btn-danger">Delete</button>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
