﻿@model DragonFlyAdmin.ViewModels.Ages.AgeView

@{
    ViewData["Title"] = "Create";
}

<div class="col-sm-12 col-md-12 col-lg-12 topbar">
    <h2 class="redfont">@ViewData["Unique"]</h2>
    <h2 class="greenfont">@ViewData["Success"]</h2>
    <h1>Create Age Range</h1>
    <div class="col-sm-12 col-md-12 col-lg-12">
        @using (@Html.BeginForm("Index", "Ages", FormMethod.Get))
        {
            <button class="btn btn-info">Back to List</button>
        }
    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form asp-action="Create">
                <input type="hidden" asp-for="EntryDt"/>
                <input type="hidden" asp-for="EntryUser"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <label asp-for="Age" class="col-form-label"></label>
                    <input asp-for="Age" class="form-control"/>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntryUser" class="col-form-label"></label>
                    <input asp-for="EntryUser" class="form-control" disabled/>
                    <span asp-validation-for="EntryUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntryDt" class="col-form-label"></label>
                    <input asp-for="EntryDt" class="form-control" disabled/>
                    <span asp-validation-for="EntryDt" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4 float-right">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
           
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
