﻿@using System.Linq
@model DragonFlyAdmin.ViewModels.Ages.AgeIndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-12 col-md-12 col-lg-12 form-inline topbar">
    <h1>Ages</h1>
    @using (@Html.BeginForm("Create", "Ages", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6"><button class="btn btn-primary">Create</button></span>
    }
    @using (@Html.BeginForm("Index", "Admin", FormMethod.Get))
    {
        <span class="col-sm-6 col-md-6 col-lg-6"><button class="btn btn-info">Back to List</button></span>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AgeRangeList.First().Age)</th>
            <th>@Html.DisplayNameFor(model => model.AgeRangeList.First().EntryUser)</th>
            <th>@Html.DisplayNameFor(model => model.AgeRangeList.First().EntryDt)</th>
            <th>@Html.DisplayNameFor(model => model.AgeRangeList.First().UpdateUser)</th>
            <th>@Html.DisplayNameFor(model => model.AgeRangeList.First().UpdateDt)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AgeRangeList) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Age)</td>
            <td>@Html.DisplayFor(modelItem => item.EntryUser)</td>
            <td>@Html.DisplayFor(modelItem => item.EntryDt)</td>
            <td>@Html.DisplayFor(modelItem => item.UpdateUser)</td>
            <td>@Html.DisplayFor(modelItem => item.UpdateDt)</td>
            <td>
                @using (@Html.BeginForm("Edit", "Ages", new {id=@item.Id}, FormMethod.Get))
                {
                    <button class="btn btn-info">Edit</button>
                }
            </td>
            <td>
                @using (@Html.BeginForm("Details", "Ages", new {id=@item.Id}, FormMethod.Get))
                {
                    <button class="btn btn-primary">Details</button>
                }
            </td>    
            @if (Model.IsAdmin)
            {
                <td>
                    @using (@Html.BeginForm("Delete", "Ages", new {id=@item.Id}, FormMethod.Get))
                    {
                        <button class="btn btn-danger">Delete</button>
                    }
                </td>
            }
        </tr>
}
    </tbody>
</table>